canvas {
    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;
}

main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;  
}  

.first-page{
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 2rem;
    flex-wrap: wrap; */
    
    /* display: grid;
    grid-template-columns: repeat(12, 1fr); */
}

#name {
    /* grid-column: 3 / 6; */
    padding-left: 20%;
    
    margin: 10px;
    font-weight: bold;
    font-size: 4em;
    white-space: nowrap;
}

#intro {
    /* grid-column: 7 / 10; */
    padding-right: 20%;
    margin: 10px;
}

.projects{
    
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 10%;
}

.card{
    background-color: rgba(0,0,0,0.75);
    border-color: aqua;
    border-width: 2px;

}

#winner{
    border-color: goldenrod;
}

.buttons {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    
}

.btn {
    padding: rem;
    background-color: rgba(0,0,0,0.75);
    /* border-color: rgba(0,0,0,0.1); */
}

#winnerbtn {
    background-color: goldenrod;
}

@media screen and (min-width: 0px){
    .first-page {
        display: flex;
        flex-direction: column;
    }
    #name {
        padding: 0;
        /* position:absolute; */
        align-items:center;
    }
    #intro {
        padding:0;
        /* position: relative; */
        align-items: center;
    }
    .projects {
        padding: 0%;
    }

    .card {
        width: 100%;
    }
}

@media screen and (min-width: 768px){

}

@media screen and (min-width: 992px){

}