canvas {
    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;
}

main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  
  
}  

.first-page{
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 2rem;
    flex-wrap: wrap; */
    
    /* display: grid;
    grid-template-columns: repeat(12, 1fr); */
}

#name {
    /* grid-column: 3 / 6; */
    padding-left: 30%;
    
    margin: 10px;
    font-weight: bold;
    font-size: 2em;

}

#intro {
    /* grid-column: 7 / 10; */
    padding-right: 30%;
    
    margin: 10px;
}

.projects{
    
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.card{
    background-color: transparent;
    border-color: aqua;
    border-width: 2px;

}

#winner{
    border-color: goldenrod;
}

.buttons {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    
}

.btn {
    padding: rem;
    
}

#winnerbtn {
    background-color: goldenrod;
}